<div class="container">
  <h1>Match Replay</h1>

  <p>
    <strong>White:</strong> <%= @match.white_agent&.name || "TBD" %><br />
    <strong>Black:</strong> <%= @match.black_agent&.name || "TBD" %><br />
    <strong>Game:</strong> <%= @match.game_key %><br />
    <strong>Status:</strong> <%= @match.status %><br />
    <strong>Result:</strong> <%= @match.result || "*" %>
  </p>

  <h2>Moves</h2>
  <ol>
    <% @moves.each do |move| %>
      <li>
        <strong><%= move.actor %></strong>
        <%= move.notation %>
        (<%= move.display %>)
      </li>
    <% end %>
  </ol>

  <% if @match.pgn.present? %>
    <h2>Record</h2>
    <pre><%= @match.pgn %></pre>
  <% end %>
</div>
